body{
  
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container{ 
  display:grid;
  grid-template-rows: 50px auto 100px;
  grid-template-areas: "nav""main""footer";
}
.navbar {
  grid-area: nav;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap; 
}
.nl{
  display: flex;
  justify-content: center;
}
.navbar a{
  padding-left: 25px;
  padding-right: 25px;
  
}
.nr a{
  text-decoration: none;
}
.main{
  grid-area: main;  
}
.mainhead{
  margin-top: 25px;
  margin-bottom: 25px;
  
  align-items: center;
  text-align: center;
  position:block;
  top: 50px;
}
.cover{
  display:flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 25vh;

}
.cover img{
  height: 450px;
  padding-right: 15px;
  
}
.items{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 65px;
}
.products img{
  height: 450px;
}
.products{
  align-items: center;
  margin-left: 10px;
  height: 500px;
  align-items: center;
  transition: 1s;
  padding-bottom: 150px;
}

@media(max-width:1441px) {
  .cover img {
    height: 550px;
    width: 450px;
    align-items: center;
    text-align: center;
  }
  .cover{
    display: flex;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .products img{
    height: 450px;
  }
  .products{
    height: 600px;
  }
  .items{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
  }
  .prom{
    display: flex;
    flex-wrap: wrap;

  }
  .prom-l{
   text-align: center;
   align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    
  }
  .prom-r{
    
  }
  .prom-r img{

    height: 500px;
    width: 400px;
    flex-wrap: wrap;
  }
  .footer{
    display: flex;
    
    flex-wrap: wrap;
  }
  .socialmedia{
    display: flex;
    flex-direction: row;
}
.f{
  width: 150vw;
}
}

.items h1{
  width: 100vw;
  align-items: center;
  text-align: center;
}

.footer {
  width: 100vw;
  grid-area: footer;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 15% auto 15%;
  grid-template-areas: "contact details social";
  flex-wrap: wrap;
}
.prom{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.prom-l{
  width: 50vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center; 
  justify-content: center;
}
.prom-r{
  width: 50vw;
  text-align: center;
  
}



.b{
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-bottom: 35px;
  
}
.b button{
  padding: 10px;
  border-radius: 20px;
}
.contact{
  grid-area: contact;
  background-color: black;
  color: white;
  text-align: center;
  padding-top: 45px;
  border:solid black;
}
.details{
  grid-area: details;
  border: solid black;
}
.socialmedia{
    grid-area: social;
    text-align: center;
    font-size: 10PX;
    position: relative;
    padding-top: 10px;
    border: solid black;
}
.socialmedia img{
  height:20px;
  position: relative;
  top: 30px;
}
table{
  border-spacing: 50px;
  border-style: hidden; 
}
.footer a{
  text-decoration: none;
}